#files to ignore
*.sif
*.swp
logfile
SEAWULF_CONTEXT.md
#folders to ignore
results/
notebooks/
logs/
slurm/
myconfigs/
scratch_dev/

#hidden folders to ignore
.snakemake/
.workdirs/
.venv/
.ipynb_checkpoints/
.bash_history

